%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [debug_info]}.
{deps,[
       {erlastic_search, {git, "https://github.com/tsloughter/erlastic_search.git", {branch, "master"}}},
       {lib_cap, {git, "https://github.com/joaohf/lib_cap.git", {branch, "master"}}}
      ]}.
