%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*
%% ex: ts=4 sw=4 ft=erlang et
[
 {emqttd_elasticsearch, [
   {elasticsearch, [
    {host, <<"localhost">>},
    {port, 9200},
    {http_client_options, []},
    {index, <<"iot">>},
    {type, <<"sensors">>}
   ]},
   {decoder, [
    {message_decode, {emqttd_elasticsearch_extend, encode}}
   ]}
 ]}
].
